{{extend "malayout.html"}}
{{block body}}
{{include "navigateur.html"}}

<div class="w3-padding-64">
<h1 class="w3-center">Generate hundreds of content ideas in seconds</h1>
<p class="w3-center">From your keywords generate hundreds of ideas to create marketing content that will increase the authority and qualified traffic of your website.</p>
</div>


<div class="w3-padding-64">
<h2 class="w3-center">In 4 steps generate ideas for your content marketing content</h2>
<div class="w3-row">
<div class="w3-col l3" >
<p>Type the keywords to get a generation of keywords</p>
</div>


<div class="w3-col l3" >
<p>Filter the words according to the keywords offers, search volume, seo difficulty, etc...</p>
</div>


<div class="w3-col l3" >
<p>Generate a hundred content ideas inspired by your filtered keywords classified by genre with sources</p>
</div>

<div class="w3-col l3" >
<p>You can export the data by csv</p>
</div>

</div>


</div>


<div class="w3-padding-64">
<h3 style="font-size:30px;" class="w3-center">Generate your ideas now !</h3>
    
    
    
    
    
</div>
    





{{end}}